<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anaadar.akaltakhatsahibpro">

    <!--
         deep link urls
            www://gurbanidarshan
            http://www.sgpc.net/gurbanidarshan
    -->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="deadlinking">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="www.sgpc.net"
                    android:pathPrefix="/gurbanidarshan"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.contactUS.questionandsuggestions.Question"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contactUS.questionandsuggestions.SuggestionsView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contactUS.requests.Requests"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contactUS.ContactUs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.contactUS.questionandsuggestions.MessageSendActivity"
            android:screenOrientation="portrait" />
        <!-- menu Details Activity -->
        <activity
            android:name=".activities.nitnem.NitnemBani"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.guru_sahiban.GuruSahibanHistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.news.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.mainMenu.Menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.dailyHukamnama.HukamnamaPDF"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.hukamnamasahib" />
            </intent-filter>
        </activity>
        <!-- Menus -->
        <activity
            android:name=".activities.nitnem.BaniMenus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.guru_sahiban.GuruSahibanMenus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.pdfpresenterapi.PDFPRESENTER"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.mainMenu.side_menu_page.MenuDrawer"
            android:label="@string/title_activity_menu_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.playradio" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Webview.Contact_web"
            android:label="@string/title_activity_menu_drawer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.About.Activities.AboutSGPC"
            android:label="@string/sgpc_fullname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.About.Activities.AboutAkalTakhatSahib"
            android:label="@string/about_sri_akal_takhat_sahib_ji"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PurposeOfApp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service android:name=".services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MyFireBaseServices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="101" />-->
    </application>

</manifest>